In [1]:
import collections
import numpy as np
import pandas as pd
import re
from argparse import Namespace

In [2]:
args = Namespace(
    raw_train_dataset_csv="data/yelp/raw_train.csv",
    raw_test_dataset_csv="data/yelp/raw_test.csv",
    proportion_subset_of_train=0.1,
    train_proportion=0.7,
    val_proportion=0.15,
    test_proportion=0.15,
    output_munged_csv="data/yelp/reviews_with_splits_lite.csv",
    seed=1337
)

In [3]:
# 원본 데이터를 읽습니다
train_reviews = pd.read_csv(args.raw_train_dataset_csv, header=None, names=['rating', 'review'])

In [4]:
train_reviews

        rating                                             review
0            1  Unfortunately, the frustration of being Dr. Go...
1            2  Been going to Dr. Goldberg for over 10 years. ...
2            1  I don't know what Dr. Goldberg was like before...
3            1  I'm writing this review to give you a heads up...
4            2  All the food is great here. But the best thing...
...        ...                                                ...
559995       2  Ryan was as good as everyone on yelp has claim...
559996       2  Professional \nFriendly\nOn time AND affordabl...
559997       1  Phone calls always go to voicemail and message...
559998       1  Looks like all of the good reviews have gone t...
559999       2  Ryan Rocks! I called him this morning for some...

[560000 rows x 2 columns]

In [5]:
len(train_reviews)

560000

In [6]:
# 리뷰 클래스 비율이 동일하도록 만듭니다
by_rating = collections.defaultdict(list)
for _, row in train_reviews.iterrows():
    by_rating[row.rating].append(row.to_dict())
    
review_subset = []

for _, item_list in sorted(by_rating.items()):

    n_total = len(item_list)
    n_subset = int(args.proportion_subset_of_train * n_total)
    review_subset.extend(item_list[:n_subset])

review_subset = pd.DataFrame(review_subset)

In [7]:
review_subset.head()

   rating                                             review
0       1  Unfortunately, the frustration of being Dr. Go...
1       1  I don't know what Dr. Goldberg was like before...
2       1  I'm writing this review to give you a heads up...
3       1  Wing sauce is like water. Pretty much a lot of...
4       1  Owning a driving range inside the city limits ...

In [8]:
len(review_subset)

56000

In [7]:
train_reviews.rating.value_counts()

1    280000
2    280000
Name: rating, dtype: int64

In [8]:
# 고유 클래스
set(review_subset.rating)

{1, 2}

In [10]:
# 훈련, 검증, 테스트를 만들기 위해 별점을 기준으로 나눕니다
by_rating = collections.defaultdict(list)
for _, row in review_subset.iterrows():
    by_rating[row.rating].append(row.to_dict())

# 분할 데이터를 만듭니다.
final_list = []
np.random.seed(args.seed)

for _, item_list in sorted(by_rating.items()):

    np.random.shuffle(item_list)
    
    n_total = len(item_list)
    n_train = int(args.train_proportion * n_total)
    n_val = int(args.val_proportion * n_total)
    n_test = int(args.test_proportion * n_total)
    
    # 데이터 포인터에 분할 속성을 추가합니다
    for item in item_list[:n_train]:
        item['split'] = 'train'
    
    for item in item_list[n_train:n_train+n_val]:
        item['split'] = 'val'
        
    for item in item_list[n_train+n_val:n_train+n_val+n_test]:
        item['split'] = 'test'

    # 최종 리스트에 추가합니다
    final_list.extend(item_list)

In [14]:
# 분할 데이터를 데이터 프레임으로 만듭니다
final_reviews = pd.DataFrame(final_list)
final_reviews

       rating                                             review  split
0           1  Terrible place to work for I just heard a stor...  train
1           1  3 hours, 15 minutes-- total time for an extrem...  train
2           1  My less than stellar review is for service.   ...  train
3           1  I'm granting one star because there's no way t...  train
4           1  The food here is mediocre at best. I went afte...  train
...       ...                                                ...    ...
55995       2  Great food.  Wonderful, friendly service.   I ...   test
55996       2  Charlotte should be the new standard for moder...   test
55997       2  Get the encore sandwich!! Make sure to get it ...   test
55998       2  I'm a pretty big ice cream/gelato fan. Pretty ...   test
55999       2  where else can you find all the parts and piec...   test

[56000 rows x 3 columns]

In [15]:
final_reviews.split.value_counts()

train    39200
val       8400
test      8400
Name: split, dtype: int64

In [16]:
# 리뷰를 전처리합니다
def preprocess_text(text):
    text = text.lower()
    text = re.sub(r"([.,!?])", r" \1 ", text)
    text = re.sub(r"[^a-zA-Z.,!?]+", r" ", text)
    return text
    
final_reviews.review = final_reviews.review.apply(preprocess_text)

In [17]:
final_reviews['rating'] = final_reviews.rating.apply({1: 'negative', 2: 'positive'}.get)

In [18]:
final_reviews.head()

     rating                                             review  split
0  negative  terrible place to work for i just heard a stor...  train
1  negative   hours , minutes total time for an extremely s...  train
2  negative  my less than stellar review is for service . w...  train
3  negative  i m granting one star because there s no way t...  train
4  negative  the food here is mediocre at best . i went aft...  train

In [19]:
final_reviews.to_csv(args.output_munged_csv, index=False)